* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: white;
    padding: 40px;
}
.card-wrapper {
    display: flex;
    justify-content: center;
}
form {
    position: relative;
    width: 420px;
}
.card {
    background: #c3bebe;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    position: absolute;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
}
.front {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 12px;
    z-index: 2;
}
.total {
    grid-column: 1/2;
    font-weight: bold;
}
.card-icon {
    grid-column: 2/3;
    justify-self: end;
}
.number {
    grid-column: 1/3;
}
.name {
    grid-column: 1/2;
}
.expiration {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 6px;
}
.month {
    grid-column: 1/2;
    grid-row: 2/3;
}
.year {
    grid-column: 2/3;
    grid-row: 2/3;
}
.back {
    position: absolute;
    bottom: 40;
    left: 60px;
    width: 100%;
    z-index: 1;
    padding-bottom: 135px;
    transform: translateY(60px);
}
.stripe {
    background: black;
    height: 40px;
    margin-bottom: 20px;
}
.cvc {
    width: 50%;
    margin-left: auto;
}

label {
    display: block;
    font-size: 0.75rem;
    margin-bottom: 4px;
}
input {
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid gray;
}
button {
    margin-top: 160px;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    bottom: 250px;
}

.errors {
    color: red;
    margin-top: 10px;
}