* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.main-nav {
list-style-type: none;
}

hr{
margin-top: 50px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav {
    display: flex;
    gap: 15px;
}

.media-card {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery .media-card {
    flex: 1 1 45%;
}

