#content {
    margin: 40px auto;
    max-width: 600px;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
}
h1 {
    letter-spacing: 2px;
}
.subheader {
    color: blue;
    letter-spacing: 2px;
}
#border {
    background-color: lightgrey;
    height: 2px;

}
#topics p {
    text-align: left;
}
.italics {
    text-align: left;
    font-style: italic;
}
.list {
    text-align: left;
}
li {
    margin-bottom: 20px;
}
img {
    max-width: 100px;
    max-height: 100px;
}